﻿body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 280px;
}

tr {
    margin-top: 3px;
}

.panel_title {
    text-align: center;
    font-weight: bold;
}

.indicador {
    text-align: left;
    font-weight: 100;
}

.painel1 {
    width: 280px;
}

.painel {
    margin-left: 15px;
    width: 250px;
    height: 170px;
}

.enviar_bt {
    text-align: center
}